{% extends "base.html" %} {% block title %} Home {% endblock title %}
<html>
  {% block content %} {% load static %}

  
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="{% static 'images/background4.jpg' %}"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Joseph Pilates</h5>
          <p>“You cannot control what goes on outside, but you CAN control what goes on inside.”</p>
        </div>
        

      </div>

      <div class="carousel-item">
        <img
          src="{% static 'images/background7.jpg' %}"
          class="d-block w-100"
          alt="..."
        />
        
      </div>
    </div>
    
  </div>

  <div class="container mt-2">
    <h2 class="display-4 text-center">Our Medicines</h2>
    <hr />

    <div class="container mt-2">
      <div class="row">
        {% for i in mymed %}
        <div class="col-md-4 bg-light p-5">
          <div class="card" style="width: 20rem">
            <img
              src="{{i.medicine_image.url}}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h6 class="card-title display-4 text-primary">
                {{i.medicine_name}}
              </h6>
              <p class="text-success bg-light">
                Price : {{i.medicine_price}} EGP
              </p>
              <p class="card-text">{{i.medicine_descripton}}</p>

              <p class="text-danger"><b>Expiry Date : {{i.medicine_exp}}</b></p>
              <a href="/orders" class="btn btn-outline-success btn-lg"
                >Order Now</a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="container mt-2">
    <h2 class="display-4 text-center">Our Products</h2>
    <hr />
    <div class="container mt-2">
      <div class="row">
        {% for i in myprod %}
        <div class="col-md-4 bg-light p-5">
          <div class="card" style="width: 20">
            <img src="{{i.prod_image.url}}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="card-title display-4 text-primary">{{i.prod_name}}</h6>
              <p class="text-success bg-light">Price : {{i.prod_price}} EGP</p>
              <p class="card-text">{{i.prod_descripton}}</p>

              <p class="text-danger"><b>Expiry Date : {{i.prod_exp}}</b></p>
              <a href="/orders" class="btn btn-outline-success btn-lg"
                >Order Now</a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endblock content %}
</html>
